<?xml version="1.0" encoding="utf-8"?>
<!--
This file exists so that if any of the projects under this folder are opened by an IDE or restored from the CLI by acceptance tests or by hand,
 1. the .nupkg that is being tested can be referenced by these projects, and
 2. the .nupkg that is tested does not pollute the global cache in %userprofile%\.nuget.
-->
<configuration>
  <config>
    <!-- Implements the second point -->
    <add key="globalPackagesFolder" value=".isolatednugetcache" />
  </config>
  <packageSources>
    <!-- Implements the first point -->
    <add key="Build script package output" value="..\artifacts" />
    <!-- Speeds up first-time restore by populating .isolatednugetcache from NuGetFallbackFolder rather than nuget.org. -->
    <add key="Pre-downloaded packages" value="C:\Program Files\dotnet\sdk\NuGetFallbackFolder" />
  </packageSources>
</configuration>
